.footer {
    background-color: #232F3E;
    color: #E1E4EA;
    text-align: center;
    padding: 20px;
    font-family: "Amazon Ember", "Helvetica", "sans-serif";
    font-size: 20px;
    border-top: 6px solid #FF9900;
}

.footer i {
    margin-right: 6px;
}