.hero {
    grid-column: 1 / 4;
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/helloquence-61189-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #E1E4EA;
    /* justify-self: center; */
    /* align-self: center; */
}