.hero {
    /* grid-column: 1 / 4; */
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/helloquence-61189-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #E1E4EA;
    font-family: "Amazon Ember", "Helvetica", "sans-serif";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 52px;
}

.hero p {
    width: 50%;
    font-size: 26px;
    text-align: center;
}

.hero button {
    background: transparent;
    color: #E1E4EA;
    border: 2px solid #FF9900;
    padding: 16px 32px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 24px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 70px;
    font-family: "Amazon Ember", "Helvetica", "sans-serif";
    font-weight: bold;
}

.hero button:hover {
    background-color: #FF9900;
}