.mission {
    grid-column: 1 / 4;
    text-align: center;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 25px; */
    color:#232F3E;
    display: flex;
    justify-content: center;
    margin: 50px;
    /* text-align: center; */
}

.mission p {
    text-align: center;
    margin: 25px;
    font-size: 20px;
    /* margin: auto 0; */
    /* justify-self: center; */
}