nav {
    display: flex;
    background-color: #232F3E;
}

nav a {
    font-size: 28px;
    margin: 20px;
    text-decoration: none;
    color: #E1E4EA;
    font-family: "Amazon Ember", "Helvetica", "sans-serif";
    border-bottom: 1px solid #FF9900;
    transition: color 0.5s ease-out;
}

nav a:first-child {
    margin-right: auto;
}
nav a:hover {
    color: #828282;
}

nav a i {
    margin-right: 6px;
}